.cta {
  background-color: #c75e60;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 0px;

    .top {
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        color: #eadfdc;
        font-size: 40px;
        line-height: 1.1;
        font-style: italic;
        font-weight: 500;
        margin-top: 20px;
        margin-bottom: 10px;
      }
    }

    .bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      p {
        color: #eadfdc;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        font-family: "General Sans", sans-serif;
      }

      a {
        padding: 10px 30px;
        color: #eadfdc;
        font-size: 15px;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 20px;
        border: 1px solid;
        border-color: rgba(234, 223, 220, 0.4);
        border-radius: 30px;
        transition: all 500ms ease;

        &:hover {
          border-color: #eadfdc;
          background-color: #eadfdc;
          color: #c75e60;
          opacity: 0.7;
        }
      }
    }
  }
}
