.section {
  position: relative;
  padding: 100px 0px;
  overflow: hidden;

  .wrapper {
    min-height: 700px;
    display: flex;
    justify-content: center;

    .left {
      position: absolute;
      left: 20px;
      max-width: 280px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      img {
        width: 100%;
      }
    }

    .middle {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;

      h5 {
        font-family: "General Sans", sans-serif;
        color: #3f4242;
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
      }

      p {
        font-size: 46px;
        line-height: 1.2;
        font-weight: 400;

        span {
          display: inline-block;
          color: #c75e60;
          font-size: 46px;
          line-height: 1.2;
          font-weight: 400;
        }
      }
    }

    .right {
      position: absolute;
      right: 20px;
      max-width: 280px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      img {
        width: 100%;
      }
    }
  }
}
