.home {
  min-height: calc(100vh - 88.22px);
  position: relative;
  display: flex;
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    .hero {
      display: grid;
      grid-template-columns: 1fr 1.5fr;
      // align-items: center;
      // justify-content: center;

      h1 {
        color: #c75e60;
        font-size: 100px;
        line-height: 0.9;
        font-weight: 500;
        white-space: normal;

        span {
          font-size: 140px;
          font-weight: 300;
          color: #c75e60;
          display: inline-block;
        }
      }
      img {
        width: 100%;
      }
    }

    .scroll {
      position: absolute;
      bottom: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        font-size: 17px;
        font-style: italic;
      }

      img {
        position: relative;
        animation: moveUpDown 1s ease-in-out infinite;
      }
    }
  }
}

@keyframes moveUpDown {
  0% {
    top: 0;
  }
  50% {
    top: 5px;
  }
  100% {
    top: 0;
  }
}

@media (max-width: 1160px) {
  .hero {
    padding: 0px 40px;
  }
}

@media (max-width: 1000px) {
  .hero {
    grid-template-columns: 1fr !important;
    padding: 90px 5%;
    justify-content: center;

    h1 {
      font-size: 80px !important;
      text-align: center;
      grid-row: 2/3;
    }

    img {
      width: 80% !important;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
@media (max-width: 800px) {
  .hero {
    h1 {
      font-size: 60px !important;
      word-wrap: break-word;

      span {
        font-size: 80px !important;
        display: inline;
      }
    }
  }
}
@media (max-width: 500px) {
  .hero {
    h1 {
      font-size: 50px !important;

      span {
        font-size: 70px !important;
      }
    }
  }
}
