.left {
  position: relative;
  overflow: hidden;
  background-color: #f6e2dd;
  padding: 10px 15px;
  border-radius: 10px;
}
.right {
  position: relative;
  overflow: hidden;
  background-color: #f6e2dd;
  padding: 30px 15px;
  border-radius: 10px;

  .details {
    display: grid;
    grid-template-columns: 40% 40%;
    margin-bottom: 15px;
  }
}
