.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f6e2dd;
  padding: 10px 15px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
