.navbar {
  position: fixed;
  width: 100%;
  background-color: #e9dedb;
  z-index: 1;
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    border-bottom: 1px solid #b8b6b4;
    position: relative;

    .left {
      position: relative;
      z-index: 1;
    }

    .middle {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;

      a {
        color: #3f4242;
        font-weight: 500;
        font-size: 15px;
        transition: opacity 200ms ease;

        &:hover {
          opacity: 0.7;
        }
      }
    }

    .right {
      position: relative;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 7px;

      .logOut,
      a {
        cursor: pointer;
        padding: 10px 30px;
        font-family: "General Sans", sans-serif;
        color: #c75e60;
        border: 1px solid #c75e60;
        border-radius: 30px;
        font-size: 15px;
        font-weight: 500;
        transition: background-color 500ms ease, color 500ms ease;

        &:hover {
          background-color: #c75e60;
          color: #fff;
          opacity: 0.7;
        }
      }

      .cart {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 46px;
        height: 46px;
        border: 1px solid #c75e60;
        border-radius: 100%;
        cursor: pointer;

        span {
          position: absolute;
          font-family: "General Sans", sans-serif;
          color: #c75e60;
          font-size: 10px;
          font-weight: 600;
        }
      }

      .hamMenu {
        display: none;
      }
    }
    .hamMenuItems {
      background-color: #e9dedb;
      padding: 20px 23px;
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 100%;
      left: 0;
      right: 0;

      a,
      p {
        padding-top: 10px;
        padding-bottom: 10px;
        color: #131313;
        font-family: "General Sans", sans-serif;
        font-size: 15px;
        font-weight: 500;
      }
    }
  }
}

@media (max-width: 1120px) {
  .wrapper {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}
@media (max-width: 768px) {
  .middle {
    display: none !important;
  }

  .hamMenu {
    display: flex !important;
    flex-direction: column;
    gap: 5px;
    padding: 15px;

    div {
      width: 26px;
      height: 2px;
      background-color: #6e6b69;
    }
  }
}
@media (max-width: 425px) {
  .logOut {
    display: none;
  }
}
